@import "scss/strips";

$color-base: brown;

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 90%;
    margin: auto;
    background-image: url(../img/crisp_paper_ruffles.png);
}

.header{
    margin-bottom: 25px;
}

/* classes flex capçelera*/
.flex-container{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 16px;
    margin: auto;
}

.flex-container > div {
  margin: 5px;
  padding: 5px;
}

.header1{
    flex-basis: 400px;
    color: $color-base;
}

.header2{
    text-align: center;
    flex-grow: 1;
    vertical-align: middle;
    font-size: 1.2em;
    color: $color-base;
}
.header3{
    flex-basis: 200px;
    text-align: center;
}

/* flex menu capçelera*/
.flex-containerCol{
    height: 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: end;
    margin: auto;
}

/* classes dels icons de la capçelera*/
.divIcon{
    text-align: end;
}

.icon{
    font-size: 25px; 
    color: $color-base;
    cursor: pointer;
    padding-bottom: 3px;
}

/*classes del menu*/
.menu{
    height: 40px;
    border-bottom: 2px solid $color-base ;
}

.botoMenu{
    font-weight: bold;
    background-color: $color-base;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    width: 150px;
    height: 35px;

    &:hover{background-color: crimson;}
}

/*classes de la pantalla inicial*/
.artInici {
    height: 300px;
    margin-top: 35px;
    border-bottom: 2px solid $color-base ;
}

.divInici{
    display: flex;
    align-items: center;
    height: 100%;
    margin:auto;
    width: max-content;
}
